html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    border: 1px solid red;   /* Add a red border to all elements */
}

:root {
    --primary-color: #65a3e6;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--background-color);
    padding: 0 10% 0 10%;
    margin: 0;
}

main {
    flex:1;
}

.contenedor {
    flex-grow: 3;
    display: flex;
    gap: 30px;
}

.info-game {
    flex:1;
}

.gameboard {
    display: grid;
    flex: 2;
    grid-template-columns: repeat(10, 1fr);
    gap:1px;
}

.cell {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr ;
    height: 1fr;
}



